.photo{
    width: 20px;
    height: 20px;
    margin: 0px 30px;
    position: relative;
    top: 0px;
    right: -25px;
}

.container{
    display: flex;
    flex-direction: column;
    background: #3a83ac;
    width: 450px;
    height: 570px;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 30px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    
}
.champ{
    height: 100px;
}
.container1{

    background: #3a83ac;
    width: 50%;
    padding: 5px;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 30px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    
}

.logo2{
        color: whitesmoke;
        border-top: 2px solid whitesmoke;
        border-left: 1px solid whitesmoke;
        border-bottom: 2px solid whitesmoke;
        width: 20px;
        padding-left: 5px;
        font-size: 30px;
        margin-left: 120px;
      }


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    
}
body{
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    margin: 0;
}

.text{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 700;
    margin-right: 30px;
}
.underline{
    width: 61px;
    min-height: 6px;
    background: whitesmoke;
    border-radius: 9px;
    margin-right: 30px;
    position: relative;
    bottom: 10px;
   
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 55px;
}

.inputs{
    display: flex;
    align-items: center;
    margin: auto;
    width: 80px;
    height: 50px;
  
    border-radius: 6px;

}

.input input{

    height: 50px;
    width: 350px;
    background: #eaeaea;
    border: 1px solid #ceb8f3;;
    padding: 10px; 
    outline: none;
    color: #797979;
    font-weight: 300;
    border-radius: 25px;
    font-size: 1em;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.35);
    transition: 0.5s;


}

.submit-container{
    display: flex;
    margin-top: 200px;
    /* margin-left: 500px; */
    /* gap: 100px; */
    
}

.submit{
    border: 1px solid whitesmoke;
    background-color:#3a83ac;
    border-radius: 25px;
     width: 340px;
     height: 20px;
     border-radius: 25px;
     padding: 3px;
     padding-left: 95px;
     padding-bottom: 50px;
     color: whitesmoke;
     margin-left: 30px;
     cursor: pointer;
     font-size: 30px;
     font-weight: 700;
}


.submit2{
     border: 1px solid whitesmoke;
     background-color:#3a83ac;
     width: 340px;
     height: 50px;
     border-radius: 25px;
     padding-left: 120px;
     color: whitesmoke;
     margin-left: 30px;
     position: relative;
     cursor: pointer;
     bottom: 70px;
     font-size: 30px;
     font-weight: 700;

}





@media only screen and (max-width: 600px) {
    .menu {
        display: none;
    }

    .menu.responsive {
        display: block;
    }

    .menu.responsive li {
        float: none;
        display: block;
        text-align: center;
    }
}

.signup-links{
display: flex;
color: whitesmoke;
position: relative;
left: 60px;
bottom: 50px;
gap: 10px;
}

.login-links{
    display: flex;
    color: whitesmoke;
    position: relative;
    left: 60px;
    top:10px;
    gap: 10px; 
}

.signup-link{
    text-decoration: underline;
}

.signup-link:hover{
   color: whitesmoke;
}




.submit:hover{

    color: #3a83ac;
   border: 1px solid #3a83ac;
   background:whitesmoke;
}

.submit2:hover{

    color: #3a83ac;
   border: 1px solid #3a83ac;
   background:whitesmoke;
}






