.photos{
  width: 630px;
  height: 531px;
  position: relative;
  right: 20px;
  margin-bottom: 70px;
}


.bolocs{
 display: grid;
 grid-template-columns: 50% 50%;
 height: 531px;
  background-color :#3a83ac;

}



.bloc1 h1{
  color: whitesmoke;
  margin-top: 100px;
   margin-left: 177px;
   font-size: 50px;
 
}


.bloc1 p{
   color: whitesmoke;
   margin-left: 177px;
   margin-top: 20px;
   text-shadow: #3c009d;
   
   font-size: 20px;
  }



.bloc1 button{
    background-color:  whitesmoke;
    color: #3a83ac;
    width: 170px;
    margin-top: 30px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #3a83ac;
    cursor: pointer;
    margin-left: 177px;
}


.bloc1 button:hover{
  background-color:  #3a83ac;
  color: whitesmoke;
  border: 1px solid ;
  
}



.parent{
  display: flex;
  justify-content: center;
  gap: 500px;
  background: #3a83ac;
  
}

.navbar ul{

 display: flex;
gap: 40px;
margin-top: 40px;

 
}

nav ul li {
  list-style: none;


}

nav ul li a {
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
}

nav ul li a:hover {
  text-decoration: underline;
  color: red;
  font-size: 20px;
  color: #ceb8f3;
}

.logo{
  color: whitesmoke;
  border-bottom: 2px solid whitesmoke;
  border-top: 2px solid whitesmoke;
  border-left: 1px solid whitesmoke;
  margin-left: 30px;
  padding: 3px;
  font-size: 30px;
  margin-top: 30px;
  width: 20px;
}
.logo a{
  text-decoration: none;
 
 
}
@media only screen and (max-width: 600px) {
  .parent{
    display: flex;
    justify-content: center;
    gap: 60px;
    background: linear-gradient(#A200B7, #42006C);
    width: 100%;
  }

  body{
    width: 100%;
    
  }

  .navbar ul {
      display: block;
      gap: 10px;
      
  }

  .bolocs{
    display: block;
  
     background-color: linear-gradient(#A200B7, #42006C);
   
   }


   .bloc1 h1{
    color: whitesmoke;
    margin-top: 100px;
     margin-left: 37px;
   
  }
  
  
  .bloc1 p{
     color: whitesmoke;
     margin-left: 37px;
     margin-top: 20px;
     text-shadow: #3c009d;
     text-transform: uppercase;
     font-size: 20px;
    }
  
  
  
  .bloc1 button{
     
      margin-left: 37px;
      background-color: #A200B7;
  }


  .blocs{
    background:  linear-gradient(#A200B7, #42006C);
    height: 841px;
    width: 100%;
    margin-bottom: 100px;
  }
  .photos{
  display: none;
  }
}


.buuton2{
  background-color: #3a83ac;
  border: 1px solid whitesmoke;
}

.buuton2:hover{
  background-color: whitesmoke;
  border: 1px solid  #3a83ac;
  color: #3a83ac !important;
}




